html {
    margin-top: 20%;
    margin-bottom: 20%;
}

body {
    background: #CCCCCC;
    width: 100%;
    height: 100%;
    color: white;
}

.container {
    background: #444753;
    width: 40%;
}

p {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row centered-form {
    width: 100%;
    height: 25em;
}


.input-group {
    padding: 0,5em;
}

#search {
    border: none;
    max-width: 100%;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 3px;
}

#people-list {
    max-height: 25em;
    overflow-y: scroll;
}

.img-circle {
    float: left;
    height: 2em;
    padding: 5px;
    width: 2em;
}

#chat-box {
    background: #F2F5F8;
}

.chat-header {
    padding: 1em;
    border-bottom: 1px solid black;
}

.chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat-with {
    font-weight: bold;
    font-size: 12px;
    color: black;
}

.chat-num-messages {
    color: #86BB71;
    font-size: 12px;
}

.chat-header .img-circle {
    float: left;
    height: 4em;
    padding: 5px;
    width: 4em;
}

#people-list-box {
    background: #C5DDEB;
}

#personal {
    max-width: 60%;
    padding-left: 20px;
}

#personallogo {
    max-width: 60%;
    padding-left: 20px;
    float: right;
}

.chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    max-height: 30em;
}

.message-data {
    margin-bottom: 15px;
}

.message-data-name {
    color: black;
}

.message-data-time {
    color: gray;
    padding-left: 6px;
    margin-bottom: 15px;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.my-message {
    background: #E38968;
}

.other-message {
    background: #86BB71;
}

#register {
    height: 25em;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.navbar-brand {
    color: white;
}


#logout {
    float: right;
}
